%div.black-background.full-page.flex.justify-end
  %div.block.half-width.flex-column.justify-center
    %div.title-block
      %h1.dot-font.extra-light.light-grey COMING
      %h1.dot-font.extra-light.light-grey SOON
